html {
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 1920px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #141414;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}
