html {
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 1920px;
  color: #141414;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

a,
li,
ul {
  text-decoration: none;
  color: #141414;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}
