.kkkk {
  display: flex;
  justify-content: center;
}

.kkk {
  width: 700px;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  margin-top: -30px;
}

.container-2 {
  display: grid;
  grid-template-columns: 800px 250px;
  align-items: center;
  margin-top: 80px;
  gap: 0px;
  justify-content: center;
}

.titulo-pg2 {
  order: 2;
}

.titulo-pg2-1 {
  max-width: 15ch;
  order: 2;
}

.titulo-pg2 span {
  color: #ff508a;
}

.bg-ul {
  background-image: url(./imagens/circulo\ 1\ pg2.svg);
  background-repeat: no-repeat;
  padding: 60px 0px;
  text-align: center;
  display: block;
  width: 800px;
  order: 1;
}

.bg-li {
  padding: 20px;
  margin: 50px;
  background-color: #ffffff;
  border-radius: 31px;
  font-size: 18px;
  display: flex;
  gap: 20px;
  max-width: 400px;
  align-items: center;
}

.bg-li1 {
  margin-left: auto;
  gap: 110px;
  padding-left: 60px;
}

.bg-li2 {
  margin: auto;
}

.bg-li3 {
  padding-right: 60px;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .container-2 {
    grid-template-columns: 700px 250px;
    margin-top: 50px;
  }
}

@media (max-width: 950px) {
  .container-2 {
    grid-template-columns: 500px 250px;
    margin-top: 50px;
  }
  .bg-ul {
    margin-left: -150px;
  }
}

@media (max-width: 750px) {
  .container-2 {
    grid-template-columns: 1fr;
    margin-top: 80px;
    gap: 0px;
  }
  .titulo-pg2 {
    margin-left: 20px;
    order: 1;
  }

  .bg-ul {
    background-image: url(./imagens/circulo-rosa-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .bg-li1 {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .bg-li2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .bg-li3 {
    padding-right: 0px;
    margin-left: 0px;
  }
  .bg-li {
    padding: 20px;
    justify-content: right;
    margin-right: 0px;
    margin-left: 10px;
  }
}
