.kkkk {
  display: flex;
  justify-content: center;
}

.kkk {
  width: 700px;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  margin-top: -30px;
}

.container-2 {
  display: grid;
  grid-template-columns: 800px 400px;
  align-items: center;
  margin-top: 80px;
  gap: 0px;
  justify-content: center;
}

.titulo-pg2 {
  order: 2;
  width: 400px;
}

.titulo-pg2-1 {
  max-width: 15ch;
  order: 2;
}

.titulo-pg2 span {
  color: #ff508a;
}

.bg-ul {
  background-image: url(./imagens/circulo\ 1\ pg2.svg);
  background-repeat: no-repeat;
  padding: 60px 0px;
  text-align: center;
  display: block;
  width: 800px;
  order: 1;
}

.bg-li {
  padding: 20px;
  margin: 50px;
  background-color: #ffffff;
  border-radius: 31px;
  font-size: 18px;
  display: flex;
  gap: 20px;
  max-width: 400px;
  align-items: center;
}

.bg-li1 {
  margin-left: auto;
  gap: 110px;
  padding-left: 60px;
}

.bg-li2 {
  margin: auto;
}

.bg-li3 {
  padding-right: 60px;
  margin-left: auto;
}
